h1 {
    text-align: center;
}
.container {
    width: 50%;
    margin: auto;
    background-color: hsl(240, 0%, 100%);
    padding: 20px 0 ;
}

.marker {
    height: 200px;
    width: 50px;
    background-color: #000000;
    margin: 10px auto;
}

.one {
    background-color: #ffff00;
}

.two {
    background-color: #0000ff;
}

.three {
    background-color: #7f7fff;
}