h1,h2 {
    text-align: center;
}
body {
    font-family: system-ui, sans-serif;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.a-new-div {
    background-color: whitesmoke;
}

.center {
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Georgia,Cambria;
}

.galaxy-image {
    width: 300px;
}

.my-photo {
    width: 500px;
}

section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}