h1,h2 {
    text-align: center;
}
body {
    /* background-image: url(a-galaxy.jpg); */
    font-family: system-ui, sans-serif;
}

.a-new-div {
    background-color: whitesmoke;
}

.center {
    text-align: center;
}